*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(217, 19%, 24%);

}

.container{
    background-color: hsl(218, 23%, 16%);
    width: 400px;
    height: 200px;
    text-align: center;
    padding: 20px;
}

.title{
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.7rem;
    padding: 15px;
}

.advice {
font-size: 1.75rem;
    color: white;
    letter-spacing: 1px;
}

.divider {
    width: 85%;
    padding: 30px;
}

.btn{
    margin-top: -7px;
}